body {
background-color: snow
}

.container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

h1 {
margin: 20px auto;
text-align: center;
}

li {
border: 3px maroon solid;
margin: 10px;
text-align: center;
}
